body{
    display: flex;
    flex-direction: column;
    background-color: #ededed;
    margin: 0px;
}
h1,h3,p,footer{
    font-family: 'Architects Daughter', cursive;
    text-align: center;
    margin: 5px;
}
h1{
    font-size: 2.4em;
    margin-bottom: 0px;
}
h3{
    font-size: 1.6em;
}
label{
    font-family: 'Roboto', sans-serif;
    margin-left: 5px;
}
form{
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
#map{
    height: 600px;
}
.row{
    display: flex;
    flex-direction: row wrap;
    background-color: #baa3c4;
    box-shadow: 2px 2px #cac0cf;
    margin-bottom: 2px;
}
#dropdown{
    font: inherit;
    border-radius: 5px;
    padding-left: 5px;
    height: 25px;
}
p{
    padding: 5px;
    margin: 5px;
    color: #d4411c;
}
.button{
    margin-left: 5px;
    border-radius: 5px;
    border: 0;
    width: 80px;
    height:25px;
}
a{
    text-decoration: none;
}
footer{
    margin-top: 5px;
}

/* ------------------------------------------------ Media Query ---------- */
@media(max-width: 400px){
    h1{
        font-size: 2em;
    }
    h3{
        font-size: 1.2em;
    }
    h1,h3{
        padding: 0px 5px 0px 5px;
        margin: 5px;
    }
    .row{
        display: flex;
        flex-flow: column;
    }
    #dropdown{
        text-align: center;
    }
    .button{
        margin-top: 10px;
        width: 97%;
    }
    #map{
        height: 475px;
    }
}
