body{
    display: flex;
    flex-direction: column;
    /* overflow: hidden; */
}
h1,h3{
    font-family: 'Architects Daughter', cursive;
    text-align: center;
}
h1{
    font-size: 2em;
}
h3{
    font-size: 1.4em;
}
label{
    font-family: 'Roboto', sans-serif;
}
form{
    margin-top: 5px;
    margin-bottom: 5px;
}
#map{
    height: 500px;
    width: 100%;
}
.item{
    border: 2px solid black;
}