body{
    display: flex;
    flex-direction: column;
    /* overflow: hidden; */
}
h1,h3{
    font-family: 'Architects Daughter', cursive;
    text-align: center;
    padding: 0px;
}
h1{
    font-size: 2.4em;
}
h3{
    font-size: 1.6em;
}
label{
    font-family: 'Roboto', sans-serif;
}
form{
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
#map{
    /* position: absolute;
    bottom: 0px; */
    height: 550px;
    width: 100%;
}
.item{
    border: 2px solid black;
}
/* updated Zoom, update README, do the stuff Chris said to do in the meeting */